{%extends 'base.html'%}

{%block title%}Edit Feedback{%endblock%}

{%block content%}
    <h1>Edit Feedback</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}

        {% if field.widget.input_type != 'submit' %}
        <div>
        {{field.label}}
        {{field}}
        </div>
        {% else %}
        {{field}}
        {% endif %}
        
        
        {% endfor %}
    </form>
    <form method="POST" action="/feedback/{{feedback.id}}/delete">
        <button type="submit">Delete</button>
    </form>

{%endblock%}